# Main Configuration File
# =======================
#
# PROJECTNAME:projectName
# RUNMODE:cac remote local (1 of these three)
# NUMBERCPU:8
#
# Cluster ID setup
# ----------------
# CAC_USERNAME:clusterUsername
# CAC_LOGIN:clusterURL
#
# X11 linux ID setup
# ------------------
# X11_USERNAME:x11Username
# X11_LOGIN:x11URL
# X11_ROOT:x11Base
#
# Cluster access to job submission
# --------------------------------
# BATCHEMAIL:email
# BATCHACCESS:access
# QUEUENAME:queue
# ROUTPUTDIR:/remote/dir
#
# Global setup
# ------------
# BWA:usr/bin/bwa-0.6.1/bwa
# SAMTOOLS:usr/bin/samtools-0.1.18/samtools
# PRINSEQ:usr/bin/prinseq-lite-0.17.4/prinseq-lite.pl
# PICARD:usr/bin/picard-tools-1.65
# CRAMTOOLS:usr/bin/cramtools.jar
#PYTHON:python
#CUTADAPT:/usr/local/bin/cutadapt
# PYTHON:/opt/epd/bin/python2.7
# CUTADAPT:/home/fs01/sc2265/usr/bin/cutadapt-1.0/cutadapt

# SEGEMEHL:src/segemehl_0_0_9_4/segemehl.x
# BOWTIE:src/bowtie-0.12.7/bowtie
