import( DESeq )

exportClasses( "Smutans" )

exportMethods(
  smutans.title, "smutans.title<-",
  smutans.de2Goseq,
  smutans.de2Genes,
  smutans.de2List,
  smutans.de2WithoutType,
  smutans.de2,
  smutans.plotDispersionEstimates, 
  smutans.plotDiffExp,
  smutans.pval,
  smutans.padj,
  smutans.de2TypeLfc,
  smutans.de2TypeHeatmap,
  smutans.de2Clust
)

export( 
  newSmutans,
  smutans.mannwhitney,
  smutans.compareResult
)
